@page "/sheet"
@layout CharacterSheetLayout

<h2>@Character.Name's CharacterSheet</h2>

<div>
    <h3><input type="text" value="@Character.Name" name="Name"></h3>
    <div style="display: flex; display-direction: row;">
        <strong>Player: </strong><input type="text" value="@Character.Player" name="player">
        &emsp;
        <strong>Party: </strong><input type="text" value="@Character.Party.Name" name="Party">
        &emsp;
        <strong>Species: </strong><input type="text" value="@Character.Species" name="Species">
        &emsp;
        <strong>Size: </strong><input type="text" value="@Character.Size" name="Size">
    </div>
    <div style="display: flex; display-direction: row;">
        <strong>Career: </strong><input type="text" value="@Character.Career" name="Career">
        &emsp;
        <strong>CareerTier: </strong><input type="text" value="@Character.CareerTier" name="CareerTier">
        &emsp;
        <strong>Class: </strong><input type="text" value="@Character.Class" name="Class">
        &emsp;
        <strong>Status: </strong><input type="text" value="@Character.Status" name="Status">
    </div>
    <div style="display: flex; display-direction: row;">
        <strong>Age: </strong><input type="text" value="@Character.Age" name="Age">
        &emsp;
        <strong>Eyes: </strong><input type="text" value="@Character.Eyes" name="Eyes">
        &emsp;
        <strong>Hair: </strong><input type="text" value="@Character.Hair" name="Hair">
        &emsp;
        <strong>Height: </strong><input type="text" value="@Character.Height" name="Height">
        &emsp;
        <strong>StarSign: </strong><input type="text" value="@Character.StarSign" name="StarSign">
    </div>
    <table>
        <thead>
            <tr>
                <th>Motivation</th>
                <th>&emsp;</th>
                <th>Shortterm Ambition</th>
                <th>&emsp;</th>
                <th>Longterm Ambition</th>
                <th>&emsp;</th>
                <th>Shortterm Party Ambition</th>
                <th>&emsp;</th>
                <th>Longterm Party Ambition</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" value="@Character.Motivation" name="Motivation"></td>
                <td>&emsp;</td>
                <td><input type="text" value="@Character.ShortTermAmbition" name="ShortTermAmbition"></td>
                <td>&emsp;</td>
                <td><input type="text" value="@Character.LongTermAmbition" name="LongTermAmbition"></td>
                <td>&emsp;</td>
                <td><input type="text" value="@Character.Party.ShortTermPartyAmbition" name="ShortTermPartyAmbition"></td>
                <td>&emsp;</td>
                <td><input type="text" value="@Character.Party.LongTermPartyAmbition" name="LongTermPartyAmbition"></td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Experience</h3>
<table>
    <thead>
        <tr>
            <th>Xp Individual</th>
            <td>&emsp;</td>
            <th>Xp Party</th>
            <td>&emsp;</td>
            <th>Xp Total</th>
            <td>&emsp;</td>
            <th>Xp Spent</th>
            <td>&emsp;</td>
            <th>Xp Unspent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="number" value="@Character.ExperienceGainIndividually" name="XpIndividually" onkeypress="updateValue(event, this)"</td>
            <td>&emsp;</td>
            <td><input type="number" value="@Character.Party.PartyAwardedXP" name="XpParty"</td>
            <td>&emsp;</td>
            <td><p>@Character.XpTotal()</p></td>
            <td>&emsp;</td>
            <td><input type="number" value="@Character.ExperienceSpent" name="XpSpent"</td>
            <td>&emsp;</td>
            <td><p>@Character.XpUnspent()</p></td>
        </tr>
    </tbody>
</table>


<h3>Characteristics</h3>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>WS</th>
            <th>BS</th>
            <th>S</th>
            <th>T</th>
            <th>I</th>
            <th>Ag</th>
            <th>Dex</th>
            <th>Int</th>
            <th>WP</th>
            <th>Fel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Intial</td>
            <td><input type="number" value="@Character.cWS.Initial" name="cWS.Initial"></td>
            <td><input type="number" value="@Character.cBS.Initial" name="cBS.Initial"></td>
            <td><input type="number" value="@Character.cS.Initial" name="cS.Initial"></td>
            <td><input type="number" value="@Character.cT.Initial" name="cT.Initial"></td>
            <td><input type="number" value="@Character.cI.Initial" name="cI.Initial"></td>
            <td><input type="number" value="@Character.cAg.Initial" name="cAg.Initial"></td>
            <td><input type="number" value="@Character.cDex.Initial" name="cDex.Initial"></td>
            <td><input type="number" value="@Character.cInt.Initial" name="cInt.Initial"></td>
            <td><input type="number" value="@Character.cWP.Initial" name="cWP.Initial"></td>
            <td><input type="number" value="@Character.cFel.Initial" name="cFel.Initial"></td>
        </tr>
        <tr>
            <td>Advances</td>
            <td><input type="number" value="@Character.cWS.Advances" name="cWS.Advances"></td>
            <td><input type="number" value="@Character.cBS.Advances" name="cBS.Advances"></td>
            <td><input type="number" value="@Character.cS.Advances" name="cS.Advances"></td>
            <td><input type="number" value="@Character.cT.Advances" name="cT.Advances"></td>
            <td><input type="number" value="@Character.cI.Advances" name="cI.Advances"></td>
            <td><input type="number" value="@Character.cAg.Advances" name="cAg.Advances"></td>
            <td><input type="number" value="@Character.cDex.Advances" name="cDex.Advances"></td>
            <td><input type="number" value="@Character.cInt.Advances" name="cInt.Advances"></td>
            <td><input type="number" value="@Character.cWP.Advances" name="cWP.Advances"></td>
            <td><input type="number" value="@Character.cFel.Advances" name="cFel.Advances"></td>
        </tr>
        <tr>
            <td>Current</td>
            <td>@Character.cWS.Current</td>
            <td>@Character.cBS.Current</td>
            <td>@Character.cS.Current</td>
            <td>@Character.cT.Current</td>
            <td>@Character.cI.Current</td>
            <td>@Character.cAg.Current</td>
            <td>@Character.cDex.Current</td>
            <td>@Character.cInt.Current</td>
            <td>@Character.cWP.Current</td>
            <td>@Character.cFel.Current</td>
        </tr>
    </tbody>
</table>

<h3>Basic Skills</h3>
@if (Character.BasicSkills != null && Character.BasicSkills.Count > 0)
{
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Cha</th>
            <th>Cha#</th>
            <th>Adv</th>
            <th>Skill</th>
        </thead>
        <tbody>
            @foreach (var bs in Character.BasicSkills)
            {
                <tr>
                    <td>@bs.Name</td>
                    <td>@bs.SkillCharacteristic.ShortName</td>
                    <td>@bs.SkillCharacteristic.Current</td>
                    <td><input type="number" value="@bs.Advances" name="bs.Advances"></td>
                    <td>@bs.Current</td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Advanced Skills</h3>
@if (Character.AdvancedSkills != null && Character.AdvancedSkills.Count > 0)
{
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Cha</th>
            <th>Cha#</th>
            <th>Adv</th>
            <th>Skill</th>
        </thead>
        <tbody>
            @foreach (var ads in Character.AdvancedSkills)
            {
                <tr>
                    <td>@ads.Name</td>
                    <td>@ads.SkillCharacteristic.ShortName</td>
                    <td>@ads.SkillCharacteristic.Current</td>
                    <td><input type="number" value="@ads.Advances" name="ads.Advances"></td>
                    <td>@ads.Current</td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Talents</h3>
@if (Character.Talents != null && Character.Talents.Count > 0)
{
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Times taken</th>
            <th>Description</th>
        </thead>
        <tbody>
            @foreach (var t in Character.Talents)
            {
                <tr>
                    <td>@t.Name</td>
                    <td><input type="text" size="20" value="@t.Name" name="t.Name"></td>
                    <td><input type="number" value="@t.TimesTaken" name="t.TimesTaken"></td>
                    <td><input type="text" size="45" value="@t.Description" name="t.Description"></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

}